h1= title
table#stage(cellspacing="0")
  - for row in "0123456789ABCDEF".split('')
    tr
    - for col in "0123456789ABCDEF".split('')
      td
        div.cell(id="#{row}#{col}", style="background-color:##{stage[row + col] || 'ffffff'};")
input#color.color(value="000000")
div works with Chrome or Firefox.
footer
  span created by&nbsp;
    a(href="http://twitter.com/#!/sugyan", target="_blank") @sugyan
    &nbsp;|
    a(href="https://github.com/sugyan/node-favicon/", target="_blank") github
